<!--The content below is only a placeholder and can be replaced.-->
<div class="container">  
  <img width=100% alt="Channels Image" src=".\assets\success.jpg">
  <div class="content" style="text-align:center; font-size: 30px"><h1>
    Welcome to {{ title }}!
  </h1>
 
</div>
<div class="row fadeUp" style="text-align:left; font-size: 40px" data-aos="fade-up" data-aos-once="true">
  <div class="col-lg-6" style="padding-left:10%; float: left; font-weight: bold" > Inplant training to<br/>build your dreams</div>
  <div class="col-lg-6" style="padding-right:10%; float: right; font-weight: bold"> Making you to<br/>stand out of the crowd</div>
  
</div>
<!--<div class="fadeUp"  style="text-align:left; font-size: 30px" data-aos="fade-up" data-aos-once="true">
  Inplant Training to build your dreams
</div>-->
<div data-aos="fade-up"><h1>About Us</h1> <p>It is a part of IT Industry operating in Coimbatore, India. Our mission is to become a world leader in the arena of IT and ITES facilitating other businesses with world class web solution facilities. With the growing need of science and technology, we have specialized ourselves developing a team of professionals whose core competency is to compete with the ongoing modern amenities and also to mould the future of the IT industry. With time we have specialized ourselves in almost all of the IT services. Our vision is to endeavor and to provide customized web and software solutions to suit all the business requirements of our clients and with the best return on investment.</p> </div>
</div>

<router-outlet></router-outlet>
