<!--The content below is only a placeholder and can be replaced.-->
<div class="container">  
  <img width=100% alt="Channels Image" src=".\assets\success.jpg">
  <div class="content" style="text-align:center; font-size: 30px"><h1>
    Welcome to {{ title }}!
  </h1>
 
</div>
<div class="row fadeUp" style="text-align:left; font-size: 30px" data-aos="fade-up" data-aos-once="true">
  <div class="col-lg-6" style="padding-left:20%; float: left;" > Build your dreams</div>
  <div class="col-lg-6" style="padding-right:20%; float: right;"> Stand out of the crowd</div>
  
</div>
<!--<div class="fadeUp"  style="text-align:left; font-size: 30px" data-aos="fade-up" data-aos-once="true">
  Inplant Training to build your dreams
</div>-->
</div>

<router-outlet></router-outlet>
